##
## Copyright 2020-2023 Fred Dushin <fred@dushin.net>
##
## SPDX-License-Identifier: Apache-2.0
##

**/_build/**
**/_checkouts/**
**/rebar.lock
**/rebar3.crashdump
**/erl_crash.dump
!priv/.gitignore
!examples/myapp/.gitignore
docs/**
