{erl_opts, [debug_info]}.

{deps, [{atomvm_packbeam, "0.7.1"}]}.

{ex_doc, [
    {source_url, <<"https://github.com/atomvm/atomvm_rebar3_plugin">>},
    {extras, [
        <<"README.md">>,
        <<"CHANGELOG.md">>,
        <<"UPDATING.md">>,
        <<"LICENSE">>,
        <<"CONTRIBUTING.md">>,
        <<"CODE_OF_CONDUCT.md">>
    ]},
    {main, <<"README.md">>},
    {output, "docs"},
    {api_reference, false},
    {skip_undefined_reference_warnings_on, ["README.md"]}
]}.

{profiles, [
    {doc, [
        {plugins, [rebar3_ex_doc]}
    ]},
    {publish, [
        {plugins, [rebar3_hex, rebar3_ex_doc]},
        {hex, [
            {doc, #{provider => ex_doc}}
        ]}
    ]}
]}.
