#
#  Copyright 2022 Fred Dushin <fred@dushin.net>
#
#  SPDX-License-Identifier: Apache-2.0 OR LGPL-2.1-or-later
#

name: Build and Test

on: [push, pull_request]

jobs:
  build-and-test:
    runs-on: "ubuntu-24.04"
    strategy:
      matrix:
        otp: ["25", "26", "27", "28"]

        include:
          - otp: "25"
            make_jobs: "compile etest"
            rebar3_version: "3.24.0 "
          - otp: "26"
            make_jobs: "all"
            rebar3_version: "3.25.1"
          - otp: "27"
            make_jobs: "all"
            rebar3_version: "3.25.1"
          - otp: "28"
            make_jobs: "all"
            rebar3_version: "3.25.1"

    steps:
    # Builder info
    - name: "System info"
      run: |
        echo "**uname:**"
        uname -a
        echo "**OTP version:**"
        cat $(dirname $(which erlc))/../releases/RELEASES || true

    # Setup OTP
    - name: "Setup OTP"
      uses: erlef/setup-beam@v1
      with:
        otp-version: ${{ matrix.otp }}
        rebar3-version: ${{ matrix.rebar3_version }}

    # Checkout AtomVM
    - name: "Checkout AtomVM"
      uses: actions/checkout@v5
      with:
        repository: 'atomvm/AtomVM'
        path: 'atomvm'
        submodules: 'recursive'

    - name: "Install deps"
      run: |
        sudo apt install -y make git gcc-14 g++-14 cmake gperf zlib1g-dev libmbedtls-dev ninja-build

    - name: "Install AtomVM"
      working-directory: 'atomvm'
      run: |
        mkdir build
        cd build
        cmake -DAVM_BUILD_RUNTIME_ONLY=ON -G Ninja ..
        ninja
        sudo ninja install
        atomvm -v

    # Setup
    - name: "Checkout repo"
      uses: actions/checkout@v5
      with:
        path: 'atomvm_packbeam'
        submodules: 'recursive'

    # Build
    - name: "Make"
      working-directory: 'atomvm_packbeam'
      run: PATH="/tmp/rebar3:${PATH}" make ${{ matrix.make_jobs }}
